html
    body 
        form(action="/weightedit" method="post")
            label ID 
            input(type="text" value=`${id}` name="id")
            label Enter your First Name
            input(type="text" name="fname")
            label Enter your Last Name
            input(type="text" name="lname")
            label Age 
            input(type="text" name="age") 
            button Update  